<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learning Style</title>
    {% include 'cssFiles.html' %}
</head>

<body class="courses-page">
    {% include 'header.html' %}
    <section class="featured-courses horizontal-column courses-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <p style="margin: 10px">Suggested Path is :: </p>
                    <table class="table table-bordered">
                        <tr><td><a href="{{result['path'].split('->')[0]}}">{{result['path'].split('->')[0]}}</a></td></tr>
                        <tr><td><a href="{{result['path'].split('->')[1]}}">{{result['path'].split('->')[1]}}</a></td></tr>
                    </table>
                    <p style="margin: 10px">Suggested Learning Object is :: <b>{{result['learningObject']}}</b></p>
                    <p>Learn as per suggested path and learning object. Evaluate the performance by taking the test</p>                  </p>
                    <a href="/home">Go to Home to take the test</a>
                </div><!-- .col -->
                <div class="col-12 col-lg-12" style="margin: 15px">
                </div>
            </div><!-- .col -->

        </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .courses-wrap -->
    {% include 'footerJs.html' %}
</body>

</html>