
    <footer class="site-footer">
        <div class="footer-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.collapsible.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js') }}""></script>
