<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello World</title>
    {% include 'cssFiles.html' %}
</head>

<body class="courses-page">
    {% include 'header.html' %}
    <section class="featured-courses horizontal-column courses-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="heading flex justify-content-between align-items-center">
                        <!-- <h2 class="entry-title">Find Your Learning Style</h2> -->
                    </header><!-- .heading -->
                </div><!-- .col -->
                <div class="col-12 col-lg-12">
                    {% if userDataset | length >0 %}
                    <table class="table table-bordered">
                        <thead style="background-color: gainsboro;">
                            <tr>
                                <td>Problem</td>
                                <td>Learning Style</td>
                                <td>Learning Object</td>
                                <td>Path</td>
                                <td>Evaluate Suggestion</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in userDataset %}
                            <tr>
                                <td>{{data['problem']}}</td>
                                <td>{{data['learning_style']}}</td>
                                <td>{{data['learning_object']}}</td>
                                <td>{{data['path']}}</td>
                                <td><a href="/taketest?problem={{data['problem']}}">take the test</a></td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    {%endif%}
                    <a href="/questions">Learning Behaviour Questions</a>
                </div>
            </div><!-- .col -->

        </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .courses-wrap -->
    {% include 'footerJs.html' %}
</body>

</html>