<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learning Style</title>
    {% include 'cssFiles.html' %}
</head>

<body class="courses-page">
    {% include 'header.html' %}
    <section class="featured-courses horizontal-column courses-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                        <h4>Marks :: {{marks}}</h4>
                        {% if response=='Y' %}
                        <p style="margin: 10px">Great. You passed the test.
                        We have <b>Retained</b> the data to dataset</p>
                        {% endif %}
                        {% if response=='N' %}
                        <p style="margin: 10px">You did not pass the test.
                            Please take the test again after studying.</p>
                        <p style="margin: 10px">We have <b>Revised</b> the suggestion.
                        </p>
                        {% endif %}
                   
                </div><!-- .col -->
                <div class="col-12 col-lg-12" style="margin: 15px">
                </form>
                </div>
            </div><!-- .col -->

        </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .courses-wrap -->
    {% include 'footerJs.html' %}
</body>

</html>