<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learning Style</title>
    {% include 'cssFiles.html' %}
</head>

<body class="courses-page">
    {% include 'header.html' %}
    <section class="featured-courses horizontal-column courses-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="heading flex justify-content-between align-items-center">
                        {% if response=='Y' %}
                        <h3 class="entry-title" style="margin: 10px">Great. You passed the test.
                        We have added the data to dataset</h3>
                        {% endif %}
                        {% if response=='N' %}
                        <h3 class="entry-title" style="margin: 10px">We have updated the suggestion.
                        Please take test again after studying</h3>
                        {% endif %}
                    </header><!-- .heading -->
                </div><!-- .col -->
                <div class="col-12 col-lg-12" style="margin: 15px">
                </form>
                </div>
            </div><!-- .col -->

        </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .courses-wrap -->
    {% include 'footerJs.html' %}
</body>

</html>